{% extends "porto_admin/base.html" %}
{% block content %}

<section role="main" class="content-body">
	<header class="page-header">
		<h2>用户概况</h2>

		<div class="right-wrapper pull-right">
			<ol class="breadcrumbs">
				<li>
					<a href="/">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<li><span>Admin</span></li>
				<li><span>User Profile</span></li>
			</ol>

			<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
		</div>
	</header>

	<!-- start: page -->

	<div class="row">
		<div class="col-md-4 col-lg-3">

			<section class="panel">
				<div class="panel-body">
					<div class="thumb-info mb-md">
						<img src="/assets/porto_admin/images/!logged-user.jpg" class="rounded img-responsive" alt="">
						<div class="thumb-info-title">
							<span class="thumb-info-inner">caiyuyu</span>
							<span class="thumb-info-type">普通用户</span>
						</div>
					</div>

					<div class="widget-toggle-expand mb-md">
						<div class="widget-header">
							<h6>资料完整度</h6>
							<div class="widget-toggle">+</div>
						</div>
						<div class="widget-content-collapsed">
							<div class="progress progress-xs light">
								<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
									60%
								</div>
							</div>
						</div>
						<div class="widget-content-expanded">
							<ul class="simple-todo-list">
								<li class="completed">Update Profile Picture</li>
								<li class="completed">Change Personal Information</li>
							</ul>
						</div>
					</div>

					<hr class="dotted short">

					<h6 class="text-muted">注意</h6>
					<p>请尽可能的完善您的用户资料，否则可能导致您的博客资料或功能的不齐全</p>

					<hr class="dotted short">

				</div>
			</section>


			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
						<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
					</div>

					<h2 class="panel-title">
						<span class="va-middle">热门博文</span>
					</h2>
				</header>
				<div class="panel-body">
					<div class="content">
						<ul class="simple-user-list">
							<li>
								<figure class="image rounded">
									<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
								</figure>
								<span class="title">Joseph Doe Junior</span>
								<span class="message truncate">Lorem ipsum dolor sit.</span>
							</li>
							<li>
								<figure class="image rounded">
									<img src="assets/images/!sample-user.jpg" alt="Joseph Junior" class="img-circle">
								</figure>
								<span class="title">Joseph Junior</span>
								<span class="message truncate">Lorem ipsum dolor sit.</span>
							</li>
							<li>
								<figure class="image rounded">
									<img src="assets/images/!sample-user.jpg" alt="Joe Junior" class="img-circle">
								</figure>
								<span class="title">Joe Junior</span>
								<span class="message truncate">Lorem ipsum dolor sit.</span>
							</li>
							<li>
								<figure class="image rounded">
									<img src="assets/images/!sample-user.jpg" alt="Joseph Doe Junior" class="img-circle">
								</figure>
								<span class="title">Joseph Doe Junior</span>
								<span class="message truncate">Lorem ipsum dolor sit.</span>
							</li>
						</ul>
						<hr class="dotted short">
					</div>
				</div>
			</section>

		</div>
		<div class="col-md-8 col-lg-6">

			<div class="tabs">
				<ul class="nav nav-tabs tabs-primary">
					<li class="active">
						<a href="#overview" data-toggle="tab">Overview</a>
					</li>
					<li>
						<a href="#edit" data-toggle="tab">Edit</a>
					</li>
				</ul>
				<div class="tab-content">
					<div id="overview" class="tab-pane active">
						<h4 class="mb-md">更新心情</h4>

						<section class="simple-compose-box mb-xlg">
							<form method="get" action="/">
								<textarea name="message-text" data-plugin-textarea-autosize placeholder="What's on your mind?" rows="1"></textarea>
							</form>
							<div class="compose-box-footer">
								<ul class="compose-btn">
									<li>
										<a class="btn btn-primary btn-xs">Post</a>
									</li>
								</ul>
							</div>
						</section>

						<h4 class="mb-xlg">最新动态</h4>

						<div class="timeline timeline-simple mt-xlg mb-md">
							<div class="tm-body">
								<div class="tm-title">
									<h3 class="h5 text-uppercase">November 2013</h3>
								</div>
								<ol class="tm-items">
									<li>
										<div class="tm-box">
											<p class="text-muted mb-none">7 months ago.</p>
											<p>
												It's awesome when we find a good solution for our projects, Porto Admin is <span class="text-primary">#awesome</span>
											</p>
										</div>
									</li>
									<li>
										<div class="tm-box">
											<p class="text-muted mb-none">7 months ago.</p>
											<p>
												What is your biggest developer pain point?
											</p>
										</div>
									</li>
									<li>
										<div class="tm-box">
											<p class="text-muted mb-none">7 months ago.</p>
											<p>
												Checkout! How cool is that!
											</p>
											<div class="thumbnail-gallery">
												<a class="img-thumbnail lightbox" href="assets/images/projects/project-4.jpg" data-plugin-options='{ "type":"image" }'>
													<img class="img-responsive" width="215" src="assets/images/projects/project-4.jpg">
																	<span class="zoom">
																		<i class="fa fa-search"></i>
																	</span>
												</a>
											</div>
										</div>
									</li>
								</ol>
							</div>
						</div>
					</div>
					<div id="edit" class="tab-pane">

						<form class="form-horizontal" method="get">
							<h4 class="mb-xlg">Personal Information</h4>
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label" for="profileFirstName">姓名</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="profileName">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="profileLastName">身份</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="profileAddress">
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="profileCompany">简介</label>
									<div class="col-md-8">
										<textarea class="form-control" rows="3" id="profileIntro"></textarea>
									</div>
								</div>
							</fieldset>
							<hr class="dotted tall">
							<h4 class="mb-xlg">Third-party binding</h4>
							<fieldset>
								<div class="form-group">
									<label class="col-md-3 control-label" for="profileBio">Disqus账号</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="profileDisqus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-3 control-label mt-xs pt-none">Leancloud账号</label>
									<div class="col-md-8">
										<input type="text" class="form-control" id="profileLeancloud">
									</div>
								</div>
							</fieldset>
							<hr class="dotted tall">
							<div class="panel-footer">
								<div class="row">
									<div class="col-md-9 col-md-offset-3">
										<button type="submit" class="btn btn-primary pull-right">Submit</button>
									</div>
								</div>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-3">

			<h4 class="mb-md">站点统计</h4>
			<ul class="simple-card-list mb-xlg">
				<li class="primary">
					<h3>My blog</h3>
					<p>站点名称.</p>
				</li>
				<li class="primary">
					<h3>480</h3>
					<p>站点访问量.</p>
				</li>
				<li class="primary">
					<h3>16</h3>
					<p>博文数量.</p>
				</li>
			</ul>

			<section class="panel">
				<header class="panel-heading">
					<div class="panel-actions">
						<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
						<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
					</div>

					<h2 class="panel-title">最新评论</h2>
				</header>
				<div class="panel-body">
					<ul class="simple-post-list">
						<li>
							<div class="post-image">
								<div class="img-thumbnail">
									<a href="#">
										<img src="assets/images/post-thumb-1.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="post-info">
								<a href="#">Nullam Vitae Nibh Un Odiosters</a>
								<div class="post-meta">
									Jan 10, 2013
								</div>
							</div>
						</li>
						<li>
							<div class="post-image">
								<div class="img-thumbnail">
									<a href="#">
										<img src="assets/images/post-thumb-2.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="post-info">
								<a href="#">Vitae Nibh Un Odiosters</a>
								<div class="post-meta">
									Jan 10, 2013
								</div>
							</div>
						</li>
						<li>
							<div class="post-image">
								<div class="img-thumbnail">
									<a href="#">
										<img src="assets/images/post-thumb-3.jpg" alt="">
									</a>
								</div>
							</div>
							<div class="post-info">
								<a href="#">Odiosters Nullam Vitae</a>
								<div class="post-meta">
									Jan 10, 2013
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>

	</div>
	<!-- end: page -->
</section>

{% endblock %}