{% extends "base.html" %}
{% block content %}

{% script "/js/jquery.countdown.js" %}
<div class="container">
    <form class="form-email" method="POST" action="/user-signup" style="margin: 0 auto">
        <h2 style="font-family: '微软雅黑'; font-size: x-large;" >注册</h2>
        {% csrf-field %}
        <input type="TEXT"
               id="inputAccount"
               placeholder="用户名"
               name="account"
               class="form-control top"
               pattern="^\w{3,16}$"
               title="长度在3-16之间的大小写字母和数字、下划线的组合"
               required
               autofocus>
        <div class="form-inline">
            <input type="email"
                   id="inputEmail"
                   placeholder="验证邮箱"
                   name="email"
                   class="form-control"
                   size="21"
                   required
                   autofocus>
            <button type="button"
                    style="font-size: small"
                    id="emailCheck"
                    name="emailCheck"
                    class="btn btn-lg btn-default">
                发送邮件
            </button>
        </div>
        <input type="text"
               id="code"
               placeholder="验证码"
               name="code"
               class="form-control top"
               required
               autofocus>
        <input type="password"
               id="inputPassword"
               placeholder="密码"
               name="password"
               class="form-control center"
               title="长度最少为6位"
               required>
        <input type="password"
               id="repeatPassword"
               placeholder="重复密码"
               name="password-repeat"
               class="form-control bottom"
               required>
        <button type="submit"
                class="btn btn-lg btn-primary btn-block">
            Signup
        </button>
        <br/>
        {% if errors.account %}
        <div class="alert alert-warning" role="alert">
            <p>{{errors.account|join}}</p>
        </div>
        {% endif %}
        {% if errors.email %}
        <div class="alert alert-warning" role="alert">
            <p>{{errors.email|join}}</p>
        </div>
        {% endif %}
        {% if errors.code %}
        <div class="alert alert-warning" role="alert">
            <p>{{errors.code|join}}</p>
        </div>
        {% endif %}
        {% if errors.password %}
        <div class="alert alert-warning" role="alert">
            <p>{{errors.password|join}}</p>
        </div>
        {% endif %}

        <p>已经拥有账户? <a href="/user-signin">登录</a></p>
    </form>

</div>

<script type="text/javascript">
    var code;
    function createCode(){
        code = "";
        var codeLength = 6;//验证码长度
        //获取随机数的数组
        var selectChar = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
                                   'A', 'B', 'C', 'D', 'E', 'F', 'G',
                                   'H', 'I', 'J', 'K', 'L', 'M', 'N',
                                   'O', 'P', 'Q', 'R', 'S', 'T',
                                   'U', 'V', 'W', 'X', 'Y', 'Z');

        for(var i=0; i<codeLength; i++){
            var charIndex = Math.floor(Math.random()*36);
            code +=selectChar[charIndex];
        }
        var date = new Date();
        date.setTime(date.getTime() + (10 * 60 * 1000));//10分钟后过期
        $.cookie("code", code, { expires: date});
        send_mail();
    }
    function send_mail(){
        var toMail = $('#inputEmail').val();
        $.ajax({
            type: "GET",
            url:"/send-mail",
            data: "code="+code+"&to="+toMail,
            success:function(msg){}
        });
    }
    $('#emailCheck').countdown({
        time: 30,
        text: "重发",
        obj: $('#inputEmail'),
        before: function(){
            var email = $("#inputEmail").val();
            var reg = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/
            if (reg.test(email)) {
                createCode();
                $.cookie('keepEmail',$('#inputEmail').val());
                return true;
            }else{
                alert("请输入正确的邮箱地址");
                return false;
            }
            return true;
        },
        after: function (star) {
            star();
            return true;
        }
    })
</script>
{% endblock %}