{% extends "porto/base.html" %}
{% block content %}

<div role="main" class="main">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">FAQ's</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>FAQ's</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <h2>Frequently Asked <strong>Questions</strong></h2>

        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote-tertiary">
                    <p class="lead" style="font-family: 微软雅黑">
                        您可能遇到了一些疑惑，这里列举了一下常见的问题及解决方法，希望可以帮助到您。
                    </p>
                    <p class="lead" style="font-family: 微软雅黑">
                        如果仍然无法解决，请与我们联系，Porto博客系统，竭诚为您服务。
                    </p>
                </blockquote>


            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">

                <div class="toggle toggle-primary" data-plugin-toggle>
                    <section class="toggle active">
                        <label>为什么我无法成功注册，成为Porto中的一员?</label>
                        <p>很抱歉给您带来了不便，请检查您的注册信息是否填写正确<br/><br/>
                            1. 用户名唯一不可重复<br/>
                            2. 用户名为长度在3-16之间的小写字母和数字、下划线的组合<br/>
                            3. 密码长度最少为6位，并要求与重复密码一栏保持一致<br/>
                            4. 验证邮箱也是唯一的，并要求是您真实拥有的<br/>
                            5. 验证码是确保您邮箱信息填写正确，请认真填写<br/><br/>
                            感谢您的支持<br/>
                        </p>
                    </section>

                    <section class="toggle">
                        <label>我没有Disqus账号，还可以使用Porto博客系统吗?</label>
                        <p>当然可以，请不必担心，Disqus只是一个第三方的评论系统，对于评论以外的其他功能没有任何影响。<br/>
                            但是，如果想享受更加完善的功能，我们建议你注册Disqus以保证最佳服务。<br/><br/>
                            感谢您的支持<br/>
                        </p>
                    </section>

                    <section class="toggle">
                        <label>我对于Markdown语法不是很熟悉，可以很好的写博文吗?</label>
                        <p>亲，请放心，完全可以，我们的markdown编辑面板提供语法支持，您可以通过点击的方式来使用markdown，0基础无障碍。<br/>
                        </p>
                    </section>
                    <section class="toggle">
                        <label>请问有其他的博客模板吗?虽然内置的模板很漂亮，但是我还是想要一些其他的。</label>
                        <p>能够得到用户的赞美是我们最大的荣幸，不过很抱歉，暂时只有您所知的那些模板，后续可能会推出其他。<br/>
                            但是我们提供了详尽且丰富的模板接口，您可以仔细阅读我们给出的开发者文档，自行DIV自己喜欢的模板<br/><br/>

                            感谢您的支持。
                        </p>
                    </section>
                </div>

            </div>

        </div>

    </div>

</div>


{% endblock %}