{% extends "porto_admin/base.html" %}
{% block content %}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>评论管理</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin</span></li>
                <li><span>Comment Manage</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="content-with-menu content-with-menu-has-toolbar media-gallery">
        <div class="inner-menu-toggle">
            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                Show Bar <i class="fa fa-chevron-right"></i>
            </a>
        </div>

        <menu id="content-menu" class="inner-menu" role="menu">
            <div class="nano">
                <div class="nano-content">

                    <div class="inner-menu-toggle-inside">
                        <a href="#" class="inner-menu-collapse">
                            <i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide Bar
                        </a>
                        <a href="#" class="inner-menu-expand" data-open="inner-menu">
                            Show Bar <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>

                    <div class="inner-menu-content">

                        <hr class="separator" />

                        <div class="alert alert-info panel-body">
                            <strong>小贴士</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <ul>
                                <li>搜索框为全字段搜索</li>
                                <li>屏蔽的评论可以恢复，删除的不可复原，请谨慎操作</li>
                                <li>您也可通过登录Disqus网站后台进行评论管理</li>
                            </ul>
                        </div>

                        <hr class="separator" />

                    </div>
                </div>
            </div>
        </menu>
        <div class="content-with-menu-container">
            <div class="inner-body mg-main">

                <section class="panel">
                    <header class="panel-heading" style="padding: 0">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>

                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="###" onclick="getData('all')" data-toggle="tab">全部</a>
                            </li>
                            <li>
                                <a href="###" onclick="getData('approved')"  data-toggle="tab">已允许</a>
                            </li>
                            <li>
                                <a href="###" onclick="getData('spam')"  data-toggle="tab">已屏蔽</a>
                            </li>
                            <li>
                                <a href="###" onclick="getData('deleted')"  data-toggle="tab">已删除</a>
                            </li>
                        </ul>
                    </header>
                        <div class="tab-content">
                            <table class="table table-bordered table-striped mb-none" style="width: 100%" id="datatable-details">
                                <thead>
                                <tr>
                                    <th>评论者</th>
                                    <th>评论主题</th>
                                    <th>评论内容</th>
                                    <th>评论时间</th>
                                    <th>操作</th>
                                    <th hidden>评论ID</th>
                                    <th hidden>头像地址</th>
                                    <th hidden>disqus主页</th>
                                    <th hidden>个人主页</th>
                                    <th hidden>点赞次数</th>
                                    <th hidden>评论地址</th>
                                    <th hidden>邮箱</th>
                                    <th hidden>IP</th>
                                    <th hidden>类别</th>
                                </tr>
                                </thead>
                                <tbody id='postData'>
                                </tbody>
                            </table>

                        </div>
                </section>
                <div id="disqus_thread"></div>
                <script>

                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                    /*
                     var disqus_config = function () {
                     this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                     */
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//{{disqus}}.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
        </div>
    </section>
    <!-- end: page -->
</section>


<script>
        $commentDiv = $("#comments");
        var datatable = "";
        var forum = "{{disqus}}";
        var APIKEY = "{{disqus_apikey}}";
        var ACCESS_TOKEN = "{{disqus_access_token}}";

        function getData(type) {
            $.ajax({
                type : "get",
                url : "https://disqus.com/api/3.0/forums/listPosts.json",
                data : "related=thread&forum="+forum+"&api_key="+APIKEY+"&access_token="+ACCESS_TOKEN+"&include=approved&include=spam&include=deleted",
                async : false,
                success : function(res, code){
                    if(res.code === 0) {
                        var result = "";

                        for(var i=0, len=res.response.length; i<len; i++) {
                            var post = res.response[i];
                            var approved = "";
                            var spam = "";
                            var deleted = "";


                            if(!post.isDeleted){
                                if(!post.isApproved){
                                    approved = "<i class='fa fa-check fa-fw text-muted text-md va-middle disable'></i><span class='va-middle'><a href='javascript:void(0);' onclick='approve_comment("+post.id+");'>允许</a></span> ";

                                }else if(!post.isSpam){
                                    spam = "<i class='fa fa-ban fa-fw text-muted text-md va-middle'></i><span class='va-middle'><a href='javascript:void(0);' onclick='span_comment("+post.id+");'>屏蔽</a></span> ";
                                    deleted = "<i class='fa fa-trash-o fa-fw text-muted text-md va-middle'></i><span class='va-middle'><a href='javascript:void(0);' id='delete_" + post.id + "' onclick='delete_comment("+post.id+");'>删除</a></span>";
                                }
                            }else{
                                deleted = "<i class='fa fa-remove fa-fw text-muted text-md va-middle'></i><span class='va-middle'>不可操作</span>";
                            }
                            console.log(post);
                            var html = "<tr>";
                            html += "<td>"+post.author.name+"</td>";
                            html += "<td><a href="+post.thread.link+">"+post.thread.title+"</a></td>";
                            html += "<td>"+post.message+"</td>";
                            html += "<td>"+post.createdAt+"</td>";
                            html += "<td>" + approved + spam + deleted + "</td>";
                            html += "<td hidden>"+post.id+"</td>";
                            html += "<td hidden>"+post.author.avatar.small.permalink+"</td>";
                            html += "<td hidden>"+post.author.profileUrl+"</td>";
                            html += "<td hidden>"+post.author.url+"</td>";
                            html += "<td hidden>"+post.likes+"</td>";
                            html += "<td hidden>"+post.url+"</td>";
                            html += "<td hidden>"+post.author.email+"</td>";
                            html += "<td hidden>"+post.ipAddress+"</td>";
                            html += "<td hidden>"+post.ipAddress+"</td>";

                            html += "</tr>";

                            result += html;
                        }
                        $('#postData').html(result);
                        if(type!="all"){
                            if(type=="approved"){
                                datatable.fnFilter( '屏蔽', 5, false, true, false);
                            }
                            else if(type=="spam"){
                                datatable.fnFilter( '允许', 5, false, true, false);

                            }
                            else if(type=="deleted"){
                                datatable.fnFilter( '不可操作', 5, false, true, false);
                            }
                        }else if(datatable!==""){
                            datatable.fnFilter( '', 5, false, true, false);
                        }

                    }
                }
            });
        }
        $(document).ready(function(){
            //必须调用，datatable需实例化
            getData("all");
        });


//        jQuery.post('https://disqus.com/api/3.0/posts/update.json',{
//            post:"2957858030",
//            access_token:ACCESS_TOKEN,
//            message:"This comment has been overwritten",
//            api_key:APIKEY})

        function span_comment(id) {
            $.ajax({
                type : "post",
                url : "https://disqus.com/api/3.0/posts/spam.json",
                data : "post="+id+"&access_token="+ACCESS_TOKEN+"&api_key="+APIKEY,
                async : false,
                success : function(data){
                    window.location.reload();
                }});

        }

        function approve_comment(id) {
            $.ajax({
                type : "post",
                url : "https://disqus.com/api/3.0/posts/approve.json",
                data : "post="+id+"&access_token="+ACCESS_TOKEN+"&api_key="+APIKEY,
                async : false,
                success : function(data){
                    window.location.reload();
                }});

        }


        function delete_comment(id) {
            $('#delete_'+id).confirmation({
                onConfirm: function() {
                    $.ajax({
                        type : "post",
                        url : "https://disqus.com/api/3.0/posts/remove.json",
                        data : "post="+id+"&access_token="+ACCESS_TOKEN+"&api_key="+APIKEY,
                        async : false,
                        success : function(data){
                            window.location.reload();
                        }});
                }
            }).confirmation('show');
        }

</script>
<script src="assets/porto_admin/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="assets/porto_admin/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="assets/porto_admin/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="assets/porto_admin/javascripts/tables/examples.datatables.row.with.details.js"></script>
{% endblock %}