{% extends "porto_admin/base.html" %}
{% block content %}
<link rel="stylesheet" href="css/colorbox.css" />

<script src="js/jquery.colorbox.js"></script>
<script src="assets/porto_admin/vendor/autosize/autosize.js"></script>
<script src="assets/porto_admin/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

<section role="main" class="content-body">
    <header class="page-header">
        <h2>查阅博文</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin</span></li>
                <li><span>Post Consult</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="content-with-menu content-with-menu-has-toolbar media-gallery">
        <div class="content-with-menu-container">
            <div class="inner-menu-toggle">
                <a href="#" class="inner-menu-expand" data-open="inner-menu">
                    Show Bar <i class="fa fa-chevron-right"></i>
                </a>
            </div>

            <menu id="content-menu" class="inner-menu" role="menu">
                <div class="nano">
                    <div class="nano-content">

                        <div class="inner-menu-toggle-inside">
                            <a href="#" class="inner-menu-collapse">
                                <i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide Bar
                            </a>
                            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                                Show Bar <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div class="inner-menu-content">

                            <hr class="separator" />

                            <div class="alert alert-info panel-body">
                                <strong>小贴士</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <ul>
                                    <li>支持多种文本编辑模式</li>
                                    <li>可以自定义设置标签</li>
                                    <li>可以选择本地文件或者网络文件作为博文封面</li>
                                    <li>可以在“查阅博文”页面新增分类项</li>
                                </ul>
                            </div>

                            <hr class="separator" />

                        </div>
                    </div>
                </div>
            </menu>
            <div class="inner-body mg-main">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                        </div>
                        <h2 class="panel-title"></h2>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-md">
                                    <button class="btn btn-primary" onclick="window.location.href='/admin_edit-post'">Add <i class="fa fa-plus"></i></button>
                                </div>
                                <div class="input-group mb-md col-sm-6">
                                    <input id="new_cate" type="text" class="form-control" placeholder="新增分类">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-primary" type="button" onclick="add_categories();">New</button>
                                        <button tabindex="-1" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu pull-right">
                                            {% for c in categories_all %}
                                            <li>
                                                <span>
                                                    <font style="padding-left: 5px">{{c.id}}</font>
                                                    <a href="javascript:void(0);" class="pull-right" style="padding-right: 5px" onclick="remove_categories('{{c.id}}')">移除</a>
                                                </span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>封面</th>
                                <th>内容</th>
                                <th>分类</th>
                                <th>标签</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in post  %}
                            <tr class="gradeX">
                                <td>{{ post.title }}</td>
                                <td class="col-md-2">
                                    {% if post.image %}
                                        <img style="height: 100px; width: 100%; min-width: 150px;" src="{{post.image}}"/>
                                    {% endif %}
                                    {% if post.video %}
                                    <video controls height="100px" width="100%" style="min-width: 150px;">
                                        <source src="{{post.video}}" />
                                    </video>
                                    {% endif %}
                                </td>
                                <td><a class="preview" href="{{post.id}}">预览</a></td>
                                <td>{{ post.categories }}</td>
                                <td class="col-md-2">{{ post.tags }}</td>
                                <td>{{ post.time|date:"yyyy-MM-dd" }}</td>
                                <td class="actions">
                                    <a href="javascript:void(0);" class="on-default" onclick="$.StandardPost('/admin_update-post',{id:'{{post.id}}'});"><i class="fa fa-pencil"></i></a>
                                    <a href="javascript:void(0);" class="on-default" onclick="delete_post('{{post.id}}')"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- end: page -->
</section>
<script src="assets/porto_admin/vendor/select2/js/select2.js"></script>
<script src="assets/porto_admin/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="assets/porto_admin/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
<script src="assets/porto_admin/javascripts/tables/examples.datatables.editable.js"></script>
<script>
    function delete_post(id) {
        $.ajax({
            type : "post",
            url : "/admin_deletedPost",
            data : "id="+id,
            async : false,
            success : function(data){
                window.location.reload();
            }
        })
    }

    //post跳转
    $.extend({
        StandardPost:function(url,args){
            var body = $(document.body),
                    form = $("<form method='post'></form>"),
                    input;
            form.attr({"action":url});
            $.each(args,function(key,value){
                input = $("<input type='hidden'>");
                input.attr({"name":key});
                input.val(value);
                form.append(input);
            });

            form.appendTo(document.body);
            form.submit();
            document.body.removeChild(form[0]);
        }
    });

    //资源预览功能显示大小设置
    if(document.body.clientWidth>=900){
        $(".preview").colorbox({iframe:true, innerWidth:900,innerHeight:500})
    }else{
        var w = document.body.clientWidth;
        var h = w*9/16;
        $(".preview").colorbox(
                {iframe:true, innerWidth:w,innerHeight:h,
                    onComplete:function(){
                        $('iframe').load( function() {
                            $('iframe').contents().find("head")
                                    .append($("<style type='text/css'>  img{max-width:250px;}  </style>"));
                        }); },}
        )
    }

    function add_categories(){
        if($('#new_cate').val().length>0){
            var id = $('#new_cate').val();
            $.ajax({
                type : "post",
                url : "/admin_newCategories",
                data : "name="+id,
                async : false,
                success : function(data){
                    window.location.reload();
                }
            })
        }else{
            alert("请输入新增分类名称");
        }
    }
    function remove_categories(id){
        $.ajax({
            type : "post",
            url : "/admin_deleteCategories",
            data : "id="+id,
            async : false,
            success : function(data){
                window.location.reload();
            }
        })
    }
</script>
{% endblock %}
