{% extends "porto_admin/base.html" %}
{% block content %}

<link rel="stylesheet" href="css/bootstrap-markdown-editor.css"/>
<link rel="stylesheet" href="css/rainbow.css"/>
<link rel="stylesheet" href="css/markdown.css"/>
<script type="text/javascript" src="assets/porto_admin/vendor/autosize/autosize.js"></script>
<script type="text/javascript" src="assets/porto_admin/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="js/bootstrap-markdown-editor.js"></script>
<script type="text/javascript" src="js/ace-builds/src-noconflict/ace.js"></script>
<script type="text/javascript" src="js/marked.min.js"></script>
<script type="text/javascript" src="js/highlight.pack.js"></script>

<section role="main" class="content-body">
    <header class="page-header">
        <h2>{% if title %}修改博文{% else if %}新增博文{% endif %}</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Admin</span></li>
                <li><span>Post Edit</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="content-with-menu content-with-menu-has-toolbar media-gallery">
        <div class="content-with-menu-container">
            <div class="inner-menu-toggle">
                <a href="#" class="inner-menu-expand" data-open="inner-menu">
                    Show Bar <i class="fa fa-chevron-right"></i>
                </a>
            </div>

            <menu id="content-menu" class="inner-menu" role="menu">
                <div class="nano">
                    <div class="nano-content">

                        <div class="inner-menu-toggle-inside">
                            <a href="#" class="inner-menu-collapse">
                                <i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide Bar
                            </a>
                            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                                Show Bar <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>

                        <div class="inner-menu-content">

                            <hr class="separator" />

                            <div class="alert alert-info panel-body">
                                <strong>小贴士</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <ul>
                                    <li>支持多种文本编辑模式</li>
                                    <li>可以自定义设置标签</li>
                                    <li>可以选择本地文件或者网络文件作为博文封面</li>
                                    <li>可以在“查阅博文”页面新增分类项</li>
                                    <li>封面只支持常见的图片和视频格式</li>
                                    <li>博文标题不允许重复</li>
                                </ul>
                            </div>

                            <hr class="separator" />

                        </div>
                    </div>
                </div>
            </menu>
            <div class="inner-body mg-main">
                <div class="inner-toolbar clearfix">
                    <ul>
                        <li>
                            <a href="javascript:void(0);" id=""><i class="fa fa-check-square"></i> <span data-all-text="Markdown模式" >Markdown模式</span></a>
                        </li>
                    </ul>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <section class="panel">
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" method="post" id="form">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-6 col-lg-6">
                                            <input class="form-control" type="text" placeholder="请输入标题" id="title"
                                                   title="不能出现特殊字符及空格"
                                                   value="{{title}}" >
                                        </div>
                                        <div id="local" class="fileupload fileupload-new col-xs-12 col-md-5 col-lg-5" data-provides="fileupload">
                                            <div class="input-append">
                                                <div class="uneditable-input col-xs-6 col-md-6">
                                                    <i class="fa fa-file fileupload-exists"></i>
                                                    <span class="fileupload-preview"></span>
                                                </div>
                                                <span class="col-xs-6 col-md-6" style="padding: 0">
                                                    <span class="btn btn-default btn-file">
                                                        <span class="fileupload-exists">Change</span>
                                                        <span class="fileupload-new">上传封面</span>
                                                        <input id="file" type="file" value="" accept=""/>
                                                    </span>
                                                    <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                                </span>

                                            </div>
                                        </div>
                                        <div id="web" class="col-xs-12 col-md-5 col-lg-5" disabled hidden>
                                            <input id="url" type="url" class="form-control" placeholder="网络文件地址" disabled>
                                        </div>
                                        <div class="col-xs-2 col-md-1 col-lg-1">
                                            <div class="switch switch-sm switch-primary">
                                                <input type="checkbox" id="switch" data-plugin-ios-switch checked="checked" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" style="height: auto">
                                        <div class="col-md-12">
                                            <textarea id="md" name="text" id="myEditor" >{{md}}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-inline">
                                        <select class="form-control mb-md" id="categories">
                                            {% for c in categories_all %}
                                                <option {% ifequal c.id categories %}selected="selected"{% endifequal %}>{{c.id}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group mb-md col-sm-3">
                                            <input id="new_cate" type="text" class="form-control" placeholder="新增分类">
                                            <div class="input-group-btn">
                                                <button tabindex="-1" class="btn btn-primary" type="button" onclick="add_categories();">New</button>
                                                <button tabindex="-1" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu" id="cate">
                                                    {% for c in categories_all %}
                                                    <li><a>{{c.id}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <select id="tags-input-multiple" multiple data-role="tagsinput" data-tag-class="label label-primary">
                                            {% if tags %}
                                            {% else if %}
                                            <option value="未定义标签"></option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <input type="submit" class="btn btn-default btn-file pull-right" style="margin-top: 10px">
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">警告</h4>
                </div>
                <div class="modal-body" id="message"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</section>
<script>
    //指示器
    var flag = 0;
    var title = "{{title}}";
    var image = "{{image}}";
    var video = "{{video}}";
    var tags = "{{tags}}";
    var url = '';

    if(title.length>0){
        url = "/admin_modify-post";
    }else{
        url = "/admin_save-post";
    }
    var id = "{{id}}";
    var old_cate = "{{categories}}";
    var old_tag = "{{tags}}";

    $('#switch').change(function () {
        if(flag==0){
            $('#file').attr('disabled',true);
            $('#local').hide();
            $('#url').attr('disabled',false);
            $('#web').show();
            flag=1;
        }else{
            $('#file').attr('disabled',false);
            $('#local').show();
            $('#url').attr('disabled',true);
            $('#web').hide();
            flag=0;
        }
    })
    function checkFileType(ths){
        if (/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(ths)) {
            return 1;
        }else if(/\.(mp4|MP4|FLY|fly)$/.test(ths)){
            return 2;
        }
        return;
    }

    function validate(){
        if($('#title').val().length>0){
            var reg = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）&mdash;—|{}【】‘；：”“'。，、？]\ ");
            var obj = $('#title');
            if(reg.test(obj.val())){
                $('#myModal').modal({});
                $('#message').html("标题不允许输入特殊字符及空格");
                return false;
            }
        }else{
            $('#myModal').modal({});
            $('#message').html("标题不允许为空");
            return false;
        }
        if($('#md').val().trim().length<=0){
            $('#myModal').modal({});
            $('#message').html("内容不允许为空");
            return false;
        }
        if($('#tags-input-multiple').val()==null){
            $('#myModal').modal({});
            $('#message').html("标签不允许为空");
            return false;
        }
        if($('#url').val().trim().length<=0 && $('#file').val().trim().length<=0){
            $('#myModal').modal({});
            $('#message').html("封面不允许为空");
            return false;
        }
        return true;
    }

    $('#form').submit(function (e) {


        if(validate()){
            $('.btn-preview').click();

            var title = $('#title').val();
            var categories = $('#categories').val();
            var tags = $('#tags-input-multiple').val();
            var md = $('#md').val().trim();
            var html = $('.md-preview').html();

            var filePath = '';
            var fileStyle = '';
            var fileType = '';
            var fileName = '';
            var image = '';
            var video = '';

            if($('#file').attr('disabled')===undefined && $('#file').val().length>0){
                fileStyle = "local";
                filePath = $('#file').val();
            }else if($('#url').attr('disabled') === undefined && $('#url').val().length>0){
                fileStyle = "web";
                filePath = $('#url').val();
            }
            fileType = filePath.substring(filePath.lastIndexOf("."));
            if(checkFileType(fileType)==1){
                image = filePath;
            }else if(checkFileType(fileType)==2){
                video = filePath;
            }
            fileName = filePath.substring(filePath.lastIndexOf("\\")+1);

            var files = $('#file').prop('files');

            var data = new FormData();
            data.append('file', files[0]);
            data.append('title', title);
            data.append('categories', categories);
            data.append('tags', tags);
            data.append('md', md);
            data.append('html', html);
            data.append('fileName', fileName);
            data.append('fileStyle', fileStyle);
            data.append('image', image);
            data.append('video', video);
            data.append('id', id);
            data.append('old_cate', old_cate);
            data.append('old_tag', old_tag);

            $.ajax({
                type: "post",
                url: url,
                data: data,
                processData:false,
                contentType:false,
                async: false,
                success: function (data) {
                    window.location.href="/admin_consult-post";
                },
                error: function (data) {
                    $('#myModal').modal({});
                    $('#message').html("该博文标题已经存在");
                }
            });
        }

        return false;
    });

    if(image.length>0){
        var domain = window.location.host;
        $('#switch').change();
        if(image.match("http://")==null){
            $('#url').val("http://"+domain+image);
        }else{
            $('#url').val(image);
        }

    }else if(video.length>0){
        $('#switch').change();
        if(video.match("http://")==null){
            $('#url').val("http://localhost"+video);
        }else{
            $('#url').val(video);
        }
    }

    if(tags.length>0){
        var map = tags.split(',');
        var html = '';
        for(var i=0; i<map.length; ++i){
            html += "<option value="+map[i]+"></option>";
        }
        $('#tags-input-multiple').append(html);
    }

    function add_categories(){
        if($('#new_cate').val().length>0){
            var id = $('#new_cate').val();
            $.ajax({
                type : "post",
                url : "/admin_newCategories",
                data : "name="+id,
                dataType: "json",
                async : false,
                success : function(data){
                    $('#new_cate').val('');
                    var cate_all = data.categories_all;
                    var html = '';
                    var html2 = '';
                    for(var i=0, len=cate_all.length; i<len; i++) {
                        var cate = cate_all[i];
                        html +=  "<li><a>"+cate.id+"</a></li>";
                        html2 += "<option {% ifequal c.id categories %}selected='selected'{% endifequal %}>"+cate.id+"</option>";
                    }
                    $('#cate').html(html);
                    $('#categories').html(html2);
                }
            })
        }else{
            alert("请输入新增分类名称");
        }
    }

    $('#md').markdownEditor({
        preview: true,
        onPreview: function (content, callback) {
            callback( marked(content) );
        }
    });

</script>
{% endblock %}
